[idle_timeout]
gcode:
  {% if printer.webhooks.state|lower == 'ready' %}
    {% if printer.pause_resume.is_paused|lower == 'false' %}
      RATOS_ECHO PREFIX="IDLE" MSG="2 hours since last activity. Powering off heaters and motors.."
      TURN_OFF_HEATERS
      M84
    {% endif %}
  {% endif %}
# 2 hour timeout
timeout: 7200

[display_status]

[pause_resume]

[respond]

[printer]
kinematics: none
max_velocity: 1
max_accel: 1

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
gcode:
  RATOS_ECHO MSG="Please setup your printer"

[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
  RATOS_ECHO MSG="Please setup your printer"

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_BASE
gcode:
  RATOS_ECHO MSG="Please setup your printer"

[delayed_gcode LNLOS_INIT]
initial_duration: 0.1
gcode:
  RATOS_ECHO MSG="Welcome to LNLOS!"
  RATOS_ECHO MSG="Please setup your printer."