############################################################
### BED VALUE ASSIGNMENTS ###
############################################################
[bed_screws]
screw1: 25, 20
screw2: 25, 250
screw3: 25, 480
screw4: 485, 480
screw5: 485, 250
screw6:	485, 20

[screws_tilt_adjust]
screw1: 35, 15
screw1_name: fl
screw2: 35, 225
screw2_name: lm
screw3: 35, 460
screw3_name: bl
screw4: 475, 460
screw4_name: br
screw5: 475, 225
screw5_name: rm
screw6: 475, 15
screw6_name: fr
screw_thread: CW-M3

[bed_mesh]
mesh_min: 25, 25
mesh_max: 475, 475 
zero_reference_position: 250, 250

[z_tilt]
z_positions:
    50,250
    450,250
points:
    50,250
    450,250
speed: 175
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.1

############################################################
### STEPPERS POSITION AND ENDSTOP VALUE ASSIGNMENTS ###
############################################################
[stepper_x]
position_endstop: -54
position_max: 505
position_min: -55

# Definition for the secondary carriage and extruder1
[dual_carriage]
position_endstop: 554
position_min: -5
position_max: 555
safe_distance: 50

[stepper_y]
position_endstop: 0
position_max: 505

[stepper_z]
position_max: 600
position_min: -6.0

[delayed_gcode _SET_BUILD_PLATE_PRESENTATION_POSITION]
initial_duration: 1
gcode:
    SET_GCODE_VARIABLE MACRO=_PRESENT_BUILD_PLATE VARIABLE=build_plate_y_position VALUE=490